html, body {
  width: 100vw;
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: -webkit-fill-available;
}

#root {
  height: 100%;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 15px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Remove blue background from the inputs with autocomplete  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
